/* ANIME ITEM STYLES */

.anime-item-container {
  padding: 8rem 4rem;
  background: #ededed;
  border-radius: 20px;
}

.anime-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
}

h1,
h2,
.title {
  color: #535bf2;
  margin-bottom: 1rem;
}

.details {
  padding: 2rem;
  background: whitesmoke;
  border-radius: 20px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 880px) {
  .image-details-container {
    grid-template-columns: 1fr;
  }
}

.details img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.anime-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  color: #6c7983;
}

@media (max-width: 405px) {
  .anime-details {
    font-size: 0.7rem;
  }
}

.anime-details p {
  display: flex;
  gap: 0.5rem;
}

.anime-details p span:first-child {
  font-weight: 600;
  color: #535bf2;
}

.score {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.scored-by {
  font-size: 11px;
}

.description {
  line-height: 1.5rem;
  color: #6c7983;
}

.description button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  color: #535bf2;
}

.title {
  text-align: center;
}

.trailer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.trailer-container iframe {
  outline: none;
  border: 5px solid #e5e7eb;
  padding: 1.5rem;
  background-color: whitesmoke;
  border-radius: 10px;
}

/* Characters*/

.characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 2rem;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  border: 5px solid #e5e7eb;
  justify-content: center;
  align-items: center;
}

.characters-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid #e5e7eb;
  padding: 0.8rem;
  border-radius: 8px;
}

@media (max-width: 470px) {
  .characters-container {
    flex-direction: column;
  }
}

.characters img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.character {
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  background-color: #ededed;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 1;
  /* Keep fixed height ??? */
  height: 170px;
}

.character p {
  color: #27ae60;
}

.character:hover::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease-out;
  border-radius: 8px;
}
