/* POPULAR STYLES */

.popular-container {
  display: flex;
  background: whitesmoke;
}

.popular-anime {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 320px));
  grid-gap: 2rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.popular-anime a {
  height: 450px;
}

.popular-anime a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
