/* RESET STYLES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

.title {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  background: #ededed;
}

button {
  padding: 8px;
  cursor: pointer;
}

/* Return to homepage link */
.back {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
