/* RESET STYLES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  /* padding: 2rem; */
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  background: #ededed;
}

button {
  padding: 8px;
  cursor: pointer;
}

/* Return to homepage link */
.back {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
